# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/**/google-services.json

# iOS
ios/Pods/

# Node
node_modules/
package-lock.json

# Windows
windows/flutter/generated_*

# Logs
*.log

# Env
.env
